body {
  padding: 15px;
}

hr {
  clear: both;
  border: none;
  border-top: 1px solid;
}

.thread, .reply {
  overflow: visible;
  word-break: break-word;
}
.reply {
  background-color: #f3f3f3;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
}

.post-subject {
  font-size: 1em;
  margin: 0.25em 0;
}
.post-tag {
  font-size: 0.85em;
}
.post-tag-segment {
  display: inline-block;
  height: 0.85em;
  width: 0.35em;
}
.post-time {
  font-size: 0.8em;
}
.post-message p {
  margin: 0.25em 0;
}
.post-message q::before, .post-message q::after {
  content: none;
}

.toast {
  margin: 0.5em 0;
  padding: 0.25em;
  background-color: #ffcccc;
}

form {
  max-width: 620px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5em;
}
form label {
  grid-column: 1 / 2;
  text-align: right;
}
form input,
form textarea,
form button {
  grid-column: 2 / 3;
  padding: 0.25em;
}
form textarea {
  height: 8em;
}

form.delete-post-inline {
  display: inline-block;
}
form.delete-post-inline button {
  font-size: 0.85em;
  background: transparent;
  border: none;
  padding: 0;
}

#captcha-answer {
  text-transform: uppercase;
  border: 1px solid;
}

