body {
  padding: 15px;
}

hr {
  clear: both;
  border: none;
  border-top: 1px solid;
}

.thread, .reply {
  overflow: visible;
  word-break: break-word;
}
.reply {
  background-color: #f3f3f3;
  display: inline-block;
  padding: 0.25em 0.5em;
  margin: 0.25em 0;
}

.post-subject {
  font-size: 1em;
  margin: 0;
}
.post-time {
  font-size: 0.8em;
}
.post-message p {
  margin: 0.25em;
}
.post-message q::before, .post-message q::after {
  content: none;
}

#new-post {
  max-width: 620px;
}
#new-post form {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5em;
}
#new-post label {
  grid-column: 1 / 2;
  text-align: right;
}
#new-post input,
#new-post textarea,
#new-post button {
  grid-column: 2 / 3;
}
#captcha-answer {
  text-transform: uppercase;
  border: 1px solid;
}
